/* you can add to or change this. */
body {
  font-family: 'Share Tech Mono', monospace;
}

h1 {
  font-size: 60px;
  text-align: center;
}

#game {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#game div{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.card {
  background-color: white;
  transition: background-color 0.66s cubic-bezier(1,-0.44,.29,.85), transform 0.66s ease-in-out;
  transform: rotateY(0deg);
}

.selected,
.match {
  transition: background-color 0.66s cubic-bezier(1,-0.44,.29,.85), transform 0.66s ease-in-out;
  transform: rotateY(180deg);
}

button {
  font-family: inherit;
  font-size: 44px;
  border-radius: 5px;
  background-color: #79BAF2;
  border: 3px solid black;
}

button:active {
  background-color: #6AD991;
}

span {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}